astropy
catboost
ctgan
hydra-core
imblearn
lightgbm
loguru
numpy
optuna
pandas
scikit-learn
jupyter
matplotlib
seaborn
plotly
pre-commit
pytorch-lightning
pytest
torch
torchinfo
torch-summary
torchvision
